<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="main row">
        <div class="col-xs-12 col-md-6">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :username, 'Username' %><br />
              <%= f.text_field :username, :class => 'form-control', autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.label :email, 'Email' %><br />
              <%= f.email_field :email, :class => 'form-control', autofocus: true, autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password, 'Password' %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, :class => 'form-control', autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, 'Password confirmation' %><br />
              <%= f.password_field :password_confirmation, :class => 'form-control' ,autocomplete: "new-password" %>
            </div>

            <div class="form-group">
              <%= f.label :current_password, 'Current Password'%> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, :class => 'form-control' ,autocomplete: "current-password" %>
            </div>

            <div class="form-group">
              <%= f.submit "Update", :class => 'btn btn-primary' %>
            </div>
          <% end %>

          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :class => 'btn btn-primary', data: { confirm: "Are you sure?" }, method: :delete %></p>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a><%= link_to "Back", :back, :class => 'btn btn-dark' %></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
