<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body>
  <div class="container">
    <div class="main row">
      <div class="col-xs-12 col-md-8">
        <div class="form-group">
          <h2> Login </h2>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => 'form-control', autocomplete: "email" %>
        </div>
        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, :class => 'form-control', autocomplete: "current-password" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="form-group">
            <%= f.submit "Log in", :class => 'btn btn-primary'  %>
        </div>
        <div class="form-group">
          <%= render "devise/shared/links", :class => 'nav-item nav-link' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</body>
</html>
